<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<section layout:fragment="content">
    <span class="layui-breadcrumb">
      <a th:href="@{/}">首页</a>
      <a><cite>用户管理</cite></a>
    </span>
    <table id="users_table" lay-filter="users_filter"></table>
    <script type="text/javascript">
        layui.use('table',function(){
            var table = layui.table;
            table.render({
                elem:'#users_table',
                height: 500,
                page: true,
                url:'/user/userList',
                cols:[ [
                    {field: 'id', title: 'ID'},
                    {field: 'username', title: '用户名'},
                    {field: 'nickname', title: '显示名'}
                ]]
            })
        });
    </script>
</section>
</body>
</html>